img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.top {
    width: 100%;
}

.style {
    width: 100%;
}

.mainview {
    width: 100%;
}









/* .buttonErea01 {
    width: 100%;
} */

.buttonErea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 5;
   width: 100%;
}
/* 
.btn01{
    width: 49.2%;
    /* bottom: 20px;  
}

.btn02{
    width: 49.2%;
} */

.buttonErea02 {
    width: 100%;
}

.contents01 {
    width: 100%;
}

.contents1 {
    width: 100%;
}

.contents02 {
    width: 100%;
}

.contents2 {
    width: 100%;
}

/* ＝＝＝＝＝ここをコピー＝＝＝＝＝ */

/* .contents02 {
    position: relative;
}

.contents2 {
    width: 100%;
}

.position02 {
    position: absolute;
    top: 92%;
    left: 23%;
}

.button02 {
    width: 75%;
} */

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.contents05 {
    position: relative;
}

.contents5 {
    width: 100%;
}

.position0501 {
    position: absolute;
    top: 45%;
    left: 44.3%;
}

.button01 {
    width: 82.5%;
}

.button02 {
    width: 52%;
}

.position0502 {
    position: absolute;
    top: 59.5%;
    left: 8.3%;
}

.position0503 {
    position: absolute;
    top: 74.7%;
    left: 44.3%;
}

.position0504 {
    position: absolute;
    top: 89.7%;
    left: 8.3%;
}

.contents06 {
    width: 100%;
}

.contents6 {
    width: 100%;
}


.contents07 {
    position: relative;
}

.contents7 {
    width: 100%;
}

.position0701 {
    position: absolute;
    top: 79%;
    left: 8%;
}

.button03 {
    width: 93.5%;
}

.position0702 {
    position: absolute;
    top: 88%;
    left: 8%;
}

.button04 {
    width: 93.5%;
}

.contents08 {
    width: 100%;
}

.contents8 {
    width: 100%;
}

.contents09 {
    width: 100%;
}

.contents9 {
    width: 100%;
}

.contents10 {
    width: 100%;
}

.contents10 {
    width: 100%;
}

.contents11 {
    width: 100%;
}

.contents11 {
    width: 100%;
}





.contents12 {
    position: relative;
}

.contents12 {
    width: 100%;
}

.position1201 {
    position: absolute;
    top: 47%;
    left: 4.8%;
}

.button05 {
    width: 95.5%;
}

.button06 {
    width: 95.5%;
}

.position1202 {
    position: absolute;
    top: 71%;
    left: 4.8%;
}

.position1203 {
    position: absolute;
    top: 76.3%;
    left: 4.8%;
}

.position1204 {
    position: absolute;
    top: 81.8%;
    left: 4.8%;
}

.position1205 {
    position: absolute;
    top: 86.85%;
    left: 4.8%;
}